pipeline/CopyJsonFromBlobToLake.json
{
	"name": "CopyJsonFromBlobToLake",
	"properties": {
		"description": "Module 7",
		"activities": [
			{
				"name": "CopyToLake",
				"description": "",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetLastModified",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "online//"
					},
					{
						"name": "Destination",
						"value": "raw/online/"
					}
				],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@variables('LastModified')",
								"type": "Expression"
							},
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false,
					"validateDataConsistency": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['serviceName']"
								},
								"sink": {
									"path": "$['serviceName']"
								}
							},
							{
								"source": {
									"path": "$['serviceCode']"
								},
								"sink": {
									"path": "$['serviceCode']"
								}
							},
							{
								"source": {
									"path": "$['movieId']"
								},
								"sink": {
									"path": "$['movieId']"
								}
							},
							{
								"source": {
									"path": "$['userId']"
								},
								"sink": {
									"path": "$['userId']"
								}
							},
							{
								"source": {
									"path": "$['price']"
								},
								"sink": {
									"path": "$['price']"
								}
							},
							{
								"source": {
									"path": "$['transaction']['id']"
								},
								"sink": {
									"path": "$['transaction']['id']"
								}
							},
							{
								"source": {
									"path": "$['transaction']['datetime']"
								},
								"sink": {
									"path": "$['transaction']['datetime']"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "Blob_Online",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DestinationDataset_wpg",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "GetLastModifiedDate",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT coalesce(MAX(LastModified), '1900.01.01 00:00:00.000Z') AS LastModified \n    FROM [metadata].[WatermarkControl] \n    WHERE ProcessName = 'CopyJsonFromBlobToLake'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Azure_SQL_Movies_metadata_WatermarkControl",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "SetLastModified",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetLastModifiedDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "LastModified",
					"value": {
						"value": "@activity('GetLastModifiedDate').output.firstRow.LastModified\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "UpdateLastModified",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CopyToLake",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[metadata].[UpdateWatermark]",
					"storedProcedureParameters": {
						"ProcessName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"LastModified": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "Datetime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "mentoring_azure_sql_server_movies_ls",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"LastModified": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-08-15T08:11:38Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}