pipeline/CopyFromLakeToSQL.json
{
	"name": "CopyFromLakeToSQL",
	"properties": {
		"description": "Module 6",
		"activities": [
			{
				"name": "Copy Credits File",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "pipelineId",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							{
								"name": "source_filename",
								"value": "$$FILENAME"
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": "movies",
							"wildcardFileName": "credits*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE stg.credits",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "cast",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "cast",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "crew",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "crew",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "id",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "pipelineId",
									"type": "String"
								},
								"sink": {
									"name": "pipelineId",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "source_filename",
									"type": "String"
								},
								"sink": {
									"name": "source_filename",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DataLake_RawMovies",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Azure_SQL_Movies_stg_credits",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy Movies Metadata File",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy Credits File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "pipelineId",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							{
								"name": "source_filename",
								"value": "$$FILENAME"
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": "movies",
							"wildcardFileName": "movies_metadata*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE stg.movies_metadata",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "adult",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "adult",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "belongs_to_collection",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "belongs_to_collection",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "budget",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "budget",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "genres",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "genres",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "homepage",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "homepage",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "id",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "imdb_id",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "imdb_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "original_language",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "original_language",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "original_title",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "original_title",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "overview",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "overview",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "popularity",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "popularity",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "poster_path",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "poster_path",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "production_companies",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "production_companies",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "production_countries",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "production_countries",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "release_date",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "release_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "revenue",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "revenue",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "runtime",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "runtime",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "spoken_languages",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "spoken_languages",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "status",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "status",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tagline",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "tagline",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "title",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "title",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "video",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "video",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "vote_average",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "vote_average",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "vote_count",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "vote_count",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "pipelineId",
									"type": "String"
								},
								"sink": {
									"name": "pipelineId",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "source_filename",
									"type": "String"
								},
								"sink": {
									"name": "source_filename",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DataLake_RawMovies",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Azure_SQL_Movies_stg_movies_metadata",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy Ratings Files",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy Movies Metadata File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "pipelineId",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							{
								"name": "source_filename",
								"value": "$$FILENAME"
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": "movies",
							"wildcardFileName": "ratings*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE stg.ratings",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "userId",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "userId",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "movieId",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "movieId",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "rating",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "rating",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "timestamp",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "timestamp",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "pipelineId",
									"type": "String"
								},
								"sink": {
									"name": "pipelineId",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "source_filename",
									"type": "String"
								},
								"sink": {
									"name": "source_filename",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DataLake_RawMovies",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Azure_SQL_Movies_stg_ratings",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "ForEachStoredProcedure",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Copy Ratings Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.storedProceduresNames",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Stored procedure1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@item()",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "mentoring_azure_sql_server_movies_ls",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"concurrency": 3,
		"parameters": {
			"storedProceduresNames": {
				"type": "array",
				"defaultValue": [
					"[dbo].[spPopulateCast]",
					"[dbo].[spPopulateCompany]",
					"[dbo].[spPopulateGenre]",
					"[dbo].[spPopulateMovieStatus]",
					"[dbo].[spPopulateMovies]",
					"[dbo].[spPopulatetRatings]",
					"[dbo].[spPopulateMoviesCastMap]",
					"[dbo].[spPopulateMoviesCompanyMap]",
					"[dbo].[spPopulateMoviesGenreMap]"
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-08-04T09:34:19Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}