pipeline/CopyFromLakeToAzureSQL.json
{
	"name": "CopyFromLakeToAzureSQL",
	"properties": {
		"description": "Module 7",
		"activities": [
			{
				"name": "CopyFromLakeToStg",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"additionalColumns": [
							{
								"name": "pipelineId",
								"value": {
									"value": "@pipeline().RunId\n",
									"type": "Expression"
								}
							},
							{
								"name": "source_filename",
								"value": "$$FILENAME"
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"wildcardFolderPath": "online",
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE [stg].[online_purchase]",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['serviceName']"
								},
								"sink": {
									"name": "online_service_name",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['serviceCode']"
								},
								"sink": {
									"name": "online_service_code",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['movieId']"
								},
								"sink": {
									"name": "movie_id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['userId']"
								},
								"sink": {
									"name": "user_id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['price']"
								},
								"sink": {
									"name": "price",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['transaction']['id']"
								},
								"sink": {
									"name": "transaction_id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['transaction']['datetime']"
								},
								"sink": {
									"name": "transaction_date",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['pipelineId']"
								},
								"sink": {
									"name": "pipelineId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['source_filename']"
								},
								"sink": {
									"name": "source_filename",
									"type": "String"
								}
							}
						],
						"collectionReference": ""
					}
				},
				"inputs": [
					{
						"referenceName": "DestinationDataset_wpg",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Azure_SQL_Movies_stg_online_purchase",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "CopyFromLakeToStg",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.storedProceduresNames",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Stored procedure1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@item()",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "mentoring_azure_sql_server_movies_ls",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"storedProceduresNames": {
				"type": "array",
				"defaultValue": [
					"[dbo].[spPopulateOnlineService]",
					"[dbo].[spPopulateOnlinePurchase]"
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-08-05T19:39:10Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}